   
    <!--This is where the database info goes based on production type. -->
    <section class="d-flex flex-row">
       
        <div class=" description d-flex flex-column col-6-sm">
            <h2>
                {{production.production_name}}
            </h2>
            <div>
                Production Link: {{production.production_link}} 
            </div>
            <div>
                Production Type: {{production.production_type}} 
            </div>
            <div>
                Dates: {{production.production_dates}} 
            </div>
            <div>
                Description: {{production.production_description}} 
            </div>
        </div>
    </section> 